USE [master]
GO
/****** Object:  Database [Marafon]    Script Date: 25.02.2021 14:09:09 ******/
CREATE DATABASE [Marafon]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Marafon', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Marafon.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Marafon_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Marafon_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Marafon].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Marafon]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 25.02.2021 14:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[Staff_ID_Num] [nvarchar](50) NOT NULL,
	[Full_Name] [nvarchar](50) NOT NULL,
	[Date_of_Birth] [datetime2](7) NULL,
	[Gender] [nvarchar](50) NULL,
	[Position_ID] [nvarchar](50) NULL,
	[Position_Name] [nvarchar](50) NULL,
	[Position_Description] [nvarchar](100) NULL,
	[PaYearly_Period] [nvarchar](50) NULL,
	[Pay_Rate] [nvarchar](50) NULL,
	[Email_Address] [nvarchar](50) NULL,
	[column11] [nvarchar](1) NULL,
	[column12] [nvarchar](1) NULL,
	[column13] [nvarchar](1) NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Staff_ID_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Timesheet]    Script Date: 25.02.2021 14:09:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Timesheet](
	[Timesheet_ID_Num] [nvarchar](50) NOT NULL,
	[Staff_ID_Num] [nvarchar](50) NULL,
	[Start_Date_Time] [datetime2](7) NULL,
	[End_Date_Time] [datetime2](7) NULL,
	[Payment_Amount] [nvarchar](50) NULL,
 CONSTRAINT [PK_Timesheet] PRIMARY KEY CLUSTERED 
(
	[Timesheet_ID_Num] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
